[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=greenclip
Comment=Clipboard manager to use with rofi - Image support and blacklist
Exec=greenclip daemon
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
