[Desktop Entry]
Type=Application
Exec=pcmanfm --desktop
Hidden=true
X-MATE-Autostart-enabled=false
Name=pcmanfm
Name[en_US]=pcmanfm
Comment=desktop
Comment[en_US]=desktop
NotShowIn=MATE;LXDE;LXDE;LXDE;

