[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=picom
Comment=X compositor that may fix tearing issues
Exec=picom --experimental-backends
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
